html, body { 
    height: 100%; 
    margin: 0; 
    padding: 0; 
}

.mdl-layout__content{
  position: relative;
  height: 100% !important;
  width: 100% !important;
}
#map {
   position: absolute;
   top:0;
   bottom:0;
   width:100%;
}

.marker {
    display: block;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    padding: 0;
    }

.mdl-list__item-primary-content {
	font-size:22px
}